.C-Card{
    border: 2px solid #41b1c0;
    width:auto;
    height:auto;
    z-index: 1;
    position: relative;
}
.aplayer{
    width: 400px;
    z-index: 0;
}
.BackText{
    transform-origin: center center;
    font-size: 70px;
    transform: rotate(90deg);
    position: absolute;
    color: #41b1c0;
    opacity: 0.25;
}
.title-F{
    display: inline-block;
    background-color: #41b1c0;
    color: whitesmoke;
    width: 36px;
    height:18px;
}
.container{
    position: relative;
    width:auto;
    height:calc(100% - 10px);
    top:5px;
    overflow:hidden;
}
.content {
    width: calc(100% + 27px);
    height: 95%;
    top: 4%;
    overflow: auto;
    overflow-x: hidden;
    left:5%;
    position: absolute;
    color: #41b1c0;
}
.Pic{
    border: #41b1c0;
    border-style: solid;
    border-width: 3px;
}
.aplayer{
    font-size: 20px;
}
.aplayer .aplayer-lrc p.aplayer-lrc-current {
    /* 大小 */
    font-size: 17px;
    /* 颜色 */
    color: #41b1c0;
    opacity: 1;
    overflow: visible;
    height: auto !important;
    min-height: 16px;
}


