html{font-size: 25px;}
            @media(max-width:1400px){
                html{font-size: 20px;}
            }
            @media(max-width:900px){
                html{font-size: 15px;}
            }
            .lrc{
                color: #41b1c0;
                float:top;
	            margin-top:-1%;
                line-height: 90%;
                font-size: 1rem;
            }
            .lrc i{
                font-size: 0.7rem;
            }
            .aplayer{
                font-size: 20px;
            }
            .aplayer .aplayer-lrc p.aplayer-lrc-current {
                /* 大小 */
                font-size: 17px;
                /* 颜色 */
                color: #41b1c0;
                opacity: 1;
                overflow: visible;
                height: auto !important;
                min-height: 16px;
            }
            .Pic{
                border: #41b1c0;
                border-style: solid;
                border-width: 3px;
            }
            .demo {
                overflow:hidden;
              }
            .Title{font-size: 1.4rem;color:#41b1c0;}
            .Big-Title{
                float: left;
                margin-left:15px;
                margin-top:8px;
                color:white;
                font-size:50px;
                
            }
            .Link:hover{
                background-color: #c3f8ff;
            }
            .Link{
                background-color:white;
                color: #41b1c0;
                text-align: left;
                font-size: 0.6rem;
                line-height:120%;
                text-decoration:none;
                transition:background-color 0.5s;
	            -webkit-transition:background-color 0.5s; /* Safari */
            }
            #clock{
                float:right;
                color:white;
                background-color: #41b1c0;
                text-align: right;
                font-size: 20px;
                line-height:120%;
                margin-top: 10px;margin-right: 1%;
            }
            body{background-color: whitesmoke;}
            .Side{
                background: whitesmoke;
                color: #41b1c0;
                width: 14%;
                height: auto;
                overflow: scroll;overflow-x: hidden;
                border: 1px solid #ccc;
                position: absolute;
                left:0px;right:88.7%;top:0px;
                bottom:70px;
            }
            .Side a{
                display: inline-block;
                background-color: whitesmoke;
	            float:top;
	            margin-top:10px;
            }
            .Side-R{
                background: whitesmoke;
                color: #41b1c0;
                padding: 0px;
                width: 88.7%;
                height: auto;
                border: none;
                overflow-y:auto;
                scrollbar-width:0px;
                overflow-x: hidden;
                scrollbar-width: none; /* firefox */
                -ms-overflow-style: none; /* IE 10+ */
                border: 1px solid #ccc;
                position:absolute;
                right:-24px;top:90px;left:12.8%;
                bottom: 70px;
            }
            .Top{
                display: block;
                background-color: #41b1c0;
                width: 87.2%;top:0%;right:0px;
                height: 90px;left:12.8%;
                padding: 0%;
                position:absolute;
            }
            .Top div{
                margin-top: 90px;
            }
            .Button{
                text-decoration: none;
            }
            .Middle{
                color: #41b1c0;
                text-align: left;
                font-size: 1rem;
                line-height:120%;
                text-decoration:none;
                margin-left: 1.2%;
            }
            .Content{
                color: #41b1c0;
                line-height:120%;
                font-size: 1rem;
                float: right;
                margin-right: 9%;
                margin-top: 40px;
                width: 50%;
            }
            .Big{
                color: #41b1c0;
                text-align: left;
                font-size: 1.2rem;
                line-height:120%;
                text-decoration:none;
                margin-left: 1.2%;
            }
	        .Secret{
		        display: inline-block;
		        text-align: left;
		        color: #41b1c0;
		        background-color: #41b1c0;
		        transition:color 0.5s;
	                -webkit-transition:color 0.5s; /* Safari */
	        }
	        .Secret:hover{
                color: white;
            }
            .Secret-F{
                display: inline-block;
                text-align: left;
                color: whitesmoke;
                background-color: whitesmoke;
                transition:color 0.5s;
                    -webkit-transition:color 0.5s; /* Safari */
            }
            .Secret-F:hover{
                color: #41b1c0;
            }
